AILifeAnalytics/src/Presentation/data/
AILifeAnalytics/src/Presentation/bin/Debug/
AILifeAnalytics/src/Presentation/.vs/AILifeAnalytics/CopilotIndices/17.14.719.50355/CodeChunks.db-wal
AILifeAnalytics/src/Presentation/.vs/
AILifeAnalytics/src/Presentation/obj/Debug/
AILifeAnalytics/src/Presentation/obj/
